html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(211, 211, 211, 0.486);
}

.first, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(211, 211, 211, 0.486);
}

.second, body {
    background-color: violet;
}

.third, body {
    background-color: blueviolet;
}

header {
    background-color: cyan;
    border-radius: 5px 5px;
    display: flex;
}

.one, header {
    background-color: cyan;
    border-radius: 5px 5px;
}

.two, header {
    background-color: white;
}

.three, header {
    background-color: blue;
}

.menu {
    color: black;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 3px;
    font-weight: none;
}

nav a:visited,
nav a:link {
    color: rgb(165, 177, 1);
    text-decoration: none;
}

nav>ul {
    display: inline;
    padding: 0;
}

nav>ul>li {
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
}

/*default hover affect*/
li>a:hover {
    color: rgb(165, 177, 1);
    border-bottom: 5rem, solid, black;
        border-color: black;
}

@media (hover: hover) {
    /*when hover is supported */
    li>a:hover {
        color: black;
        border-bottom: 5rem, solid, black;
        border-color: black;
    }
}

h1 {
    color: deeppink;
    
}

@media only screen and (min-width: 768px) {
    
    .hamburger {
        display: none;
    }

    
}

@media only screen and (max-width: 600px) {

    .hamburger {
            position: fixed;
            z-index: 100;
            top: 1rem;
            right: 1rem;
            padding: 4px;
            border: deeppink solid 1px;
            background: white;
            cursor: pointer;
        }
    
    .closeIcon {
        display: none;
    }
    
    .menu {
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: black;
        color: white;
        list-style: none;
        padding-top: 4rem;
    }
    
    .showMenu {
        transform: translateY(0);
    }
    
}